.menu-text-base {
  font-size: 16px;
  color: #333;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

.menu-text-base:hover {
  color: #22d1e0;
}

.float-right {
  float: right !important;
}

.margin-to-middle {
  margin-top: 2vh;
}

.jumbotron-item {
  margin-bottom: 2rem;
  border-radius: .3rem;
  padding: 4rem 2rem;
  text-align: left;
  line-height: 1;
  padding-top: 20px
}

.jumbotron-item:hover {
  background-color: #e9ecef;
}

.jumbotron-item p {
  margin-bottom: 0.5rem;
}

.jumbotron-item .skill {
  margin-left: 0.8rem;
}